<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @purchase_renting.status %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_renting.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase_renting.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase_renting.user.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @purchase_renting.book.bookname %>
</p>

<%= link_to 'Edit', edit_purchase_renting_path(@purchase_renting) %> |
<%= link_to 'Back', purchase_rentings_path %>
